html {
  margin-left: calc(100vw - 100%);
}

body {
  animation: bodycolorchange 30s infinite;
  -webkit-animation: bodycolorchange 30s infinite; /* Chrome and Safari */
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.container {
  width: 70%;
  margin: 0 auto;
  text-align: center;
  background: #e9ece5 repeat;
  padding: 4em 7em;
}

h1, h2, h3, h4 {
	color: #202329;
	font-family: 'Playfair Display';
}

h1 {
  font-size: 60px;
  font-weight: 900;
  line-height: 72px;
  margin-bottom: 48px;
}

.home {
  padding-top: 2em;
  height: calc(100vh - 50px);
}

.home h1 {
    margin-bottom: 0;
}

h2 {
  color: #62656A;
  margin: 0;
  padding-bottom: 1.5em;
  padding-top: .5em;
  font-weight: 200;
}

p, dl {
	color: #40434A;
	font-family: 'Lora';
	font-size: 18px;
	font-weight: 400;
	line-height: 36px;
	margin-bottom: 36px;
  text-align: justify;
}

a {
	color: #009A9C;	border-bottom: 2px solid #bdbbb5;
	font-size: 18px;
	font-weight: bold;
	text-decoration: none;
}

a:hover, .active {
	color: #202329;
}

.home img {
  border-radius: 50%;
  text-align: center;
}

.contraption-image {
  border-radius: 50%;
  height: 6em;
  margin-top: 1em;
  margin-bottom: 2em;
}

li {
    list-style: none;
    color: #40434A;
  	font-family: 'Lora';
  	font-size: 18px;
  	font-weight: 400;
    padding: .5em 0;
}

nav li {
  display: inline-block;
  padding: 5px 1em;
  text-align: center;
}

ul {
  margin: 0;
  padding-left: 0;
  padding-bottom: 2em;
}

dl {
  text-align: center;
}

.home ul {
  margin-bottom: 2em;
}

.home h2 {
  font-family: 'Lora';
  margin-bottom: 2em;
}

.subtitle {
  margin: 0;
}

.quote {
  color: #62656A;
  background: #DAD9D6;
  padding: 0.5em 2em;
  border-radius: 5px;
}
.quote span {
  display: block;
}

#footer {
  margin: 0 auto;
  width: 7%;
  margin-top: 4em;
  border-top: 2px solid #62656A;
  text-align: center;
}

.half-width-img {
  width: 50%;
}

/*
* animation
*/

/* === body === */
@keyframes bodycolorchange
{
  0%   {background: #e9ece5;}
  25%  {background: #C3B299;}
  50%  {background: #247BA0;}
  75%  {background: #56BBA7;}
  100% {background: #e9ece5;}
}

@-webkit-keyframes bodycolorchange /* Safari and Chrome - necessary duplicate */
{
  0%   {background: #e9ece5;}
  25%  {background: #C3B299;}
  50%  {background: #247BA0;}
  75%  {background: #56BBA7;}
  100% {background: #e9ece5;}
}
