
body {
  color: #2f4c54;
  background: #f9f7f3;
}

.container {
  margin-top: 1em;
}

h1, h2 {
  color: #ad662b;
}

h1 {
  font-family: 'Marcellus', serif;
  line-height: 1em;
}

h1 span {
  padding-left: 1em;
}

h2, h3, .logo {
  font-family: 'Ramabhadra', sans-serif;
  letter-spacing: .1em;
}

h2 {
  margin-bottom: 0.5em;
  font-size: 1em;
}

h3 {
  display: inline-block;
  font-size: .9em;
  text-transform: uppercase;
  margin-top: 1.8em;
}

h4, p {
  font-family: 'PT Serif', serif;
}

h5 {
  font-family: 'Ramabhadra', sans-serif;
  text-transform: uppercase;
  font-size: .9em;
  color: #f9f7f3;
  letter-spacing: .1em;
}

a {
  text-decoration: none;
  color: #2f4c54;
  border-bottom: solid 1px #ad662b;
}

.logo {
  font-size: 1em;
}

.intro {
  padding-top: 3em;
  padding-bottom: 4em;
}

.title {
  margin: 0 0 2em;
  text-align: center;
}

.logo-img {
  display: none;
}




/*=== Header ===*/
nav {
  display: none;
}

@media screen and (min-width: 550px) {
  .logo {
    display: none;
  }

  .blog .logo {
    display: block;
  }

  nav {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 1.5em;
    margin-bottom: 1em;
  }

  .blog nav {
    margin-top: 0;
  }

  nav ul {
    width: 75%;
    list-style: none;
    display: flex;
    padding: 0;
    text-align: center;

  }

  nav li {
    width: 100%;
    flex-wrap: nowrap;
    text-transform: uppercase;
    font-family: 'Ramabhadra', sans-serif;
    font-size: .65em;
    letter-spacing: .2em;
  }

  nav a {
    border-bottom: none;
  }

  nav a:hover, .active {
    border-bottom: solid 1px #ad662b;
    color: #2f4c54;
  }

  .logo-img {
    display: inline;
    float: left;
    width: 10%;
    padding: 0;
    margin: 0;
  }
}



.logo {
  text-transform: uppercase;
  color: #2f4c54;
  text-align: center;
}

.secondary-bg {
  background: #abb6bb;
}
.secondary-bg:before {
    content:"";
    background-color:#abb6bb;
    position: absolute;
    height: 100%;
    width: 4000px;
    left: -2000px;
    z-index: -1;
}

.sprint {
  color: #f9f7f3;
  margin-top: 2em;
  margin-bottom: 1em;
  font-size: .8em;
  letter-spacing: .1em;
}

.pf-icon {
  width: 30%;
  margin: 3em 33%;
  opacity: 0.8;
}


/*=== Blog page ===*/
.blog h1 {
  margin-top: 1em;
}


/*=== Footer ===*/
.footer {
  text-align: center;
  text-transform: uppercase;
  padding: 1.5em 0;
}

.footer p {
  font-family: 'Lato', sans-serif;
  font-weight: 200;
  font-size: .7em;
  letter-spacing: .05em;
  margin: 0.5em;
}

.sample-entry span {
  font-size: 1.5em;
}






/*=== Media queries ===*/

@media screen and (min-width: 550px) {
  /*== Sample section ==*/
  .sample {
    display: flex;
    justify-content: center;
    margin-bottom: 3em;
  }

  .sample-entry {
    padding: 0 1em;
    letter-spacing: .07em;
  }

  .sample-entry span {
    font-size: 1.9em;
  }

  .sample-entry:first-child {
    border-right: 1px solid #f9f7f3;
  }

  /*== Penny farthing icon ==*/
  .pf-icon {
    width: 15%;
    margin: 3em 42.5%;
  }

  /*== Footer ==*/
  .footer {
    margin: 3em auto;
  }

}




/* Google fonts */
font-family: 'Marcellus', serif;
font-family: 'Goudy Bookletter 1911', serif;
font-family: 'Forum', cursive;
font-family: 'Gabriela', serif;
font-family: 'PT Serif', serif;
font-family: 'Ramabhadra', sans-serif;
font-family: 'Lato', sans-serif;
